/* Layout inspired from https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_blog&stacked=h , https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_portfolio&stacked=h*/


/* Set height of the grid so .sidenav can be 100% (adjust if needed) */

.row.content {
    height: 45em;
}


/* Set gray background color and 100% height */

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

.input-group {
    margin-bottom: 1em;
}

.jumbotron {
    margin: 1em;
    padding: 1em 0 0 0;
}

.jumbotron p {
    font-size: 1em;
}

.cards {
    margin: 5px;
    border-radius: 5px;
    width: 18%;
}

.card-rows {
    margin: auto auto 2em auto;
    width: 96%;
    padding-left: 1.5em;
}

.cards p {
    font-size: 0.75em;
}

.input-group-btn {
    padding-left: 1px;
}

a:hover {
    cursor: pointer;
}


/* Set black background color, white text and some padding */

footer {
    background-color: #555;
    color: white;
    padding: 15px;
    height: 3.5em;
}

.invalid {
    border: 2px dashed red;
}


/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 768px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
    .cards {
        padding: 0.2em;
        width: 100%;
    }
    .card-rows {
        padding-left: 0;
    }
}